@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  @apply bg-zinc-50 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50;
  @apply selection:bg-zinc-600/10;
}
