@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts';

@import 'breakpoints';

// Resets
* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  @apply bg-zinc-50 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50;
  @apply selection:bg-zinc-600/10;
}
